body {
    max-width: 640px;
    margin: 0 auto;

    background: rgb(21, 19, 55);
    background: linear-gradient(90deg, rgba(21, 19, 55, 1) 0%, rgba(101, 142, 150, 1) 0%, rgba(69, 77, 79, 1) 0%, rgba(101, 101, 103, 1) 100%, rgba(69, 65, 189, 1) 100%);



}


#sampul-profil {
    min-height: 10vh;
    background-size: cover;
}

#sampul-card {
    height: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    font-weight: 800;
}

#foto-profil {
    min-height: 100px;
    width: 100px;
}

#body-first {
    min-height: 100vh;
    background-color: white;
}

.produk-img {
    height: 40vh;
    object-fit: cover;
}

.card-text {
    word-break: normal;
}

.product-card {
    max-height: 50px;
}

#data-wrapper-kategori {
    overflow: hidden;
    /* Untuk mengatur tinggi maksimum */
    /* Style lain yang Anda inginkan */
}

.text-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
